footer {
    background-color: #b2ffb2;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer_list {
    display: flex;
    justify-content: center;
}

.footer_list li {
    margin: 20px 50px;
    font-weight: bold;
}
