.group_list_container {
    width: 70%;
    margin: 140px auto 50px;
    text-align: center;
    background-color: #fff;
    border-radius: 25px;
    border: 2px solid #9fa09e;
    padding: 10px;
}

.group_list_container .list_contents_container {
    height: 250px;
}

.group_list_container img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.group_list_container button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 10px auto;
    border: 2px solid #9fa09e;
    border-radius: 10px;
    padding: 10px;
}

.group_list_container button:hover {
    background: #9fa09e;
    transition: 0.4s;
}

.hidden {
    display: none;
}

.addBtn {
    width: 130px;
}

/* モーダルウィンドウ */
.modal {
    display: none;
    /* 最初は非表示にする */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    /* 背景を半透明にする */
}

/* モーダルウィンドウのコンテンツ */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 15px;
    border: 1px solid #888;
    width: 80%;
    text-align: left;
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 100;
}

.modal_content_container {
    margin-bottom: 20px;
}

.member_list_scroll {
    overflow-y: scroll;
    height: 200px;
    border: 3px solid #9fa09e;
    padding: 10px;
    margin-bottom: 10px;
}

.modal_content_container img {
    border: 1px solid #333;
    width: 100px;
    height: 100px;
}

.modal_content_container > label {
    font-weight: bold;
}

.modal_content_container input {
    text-align: left;
}

.modal_content_container input[type="file"] {
    margin-left: 10px;
}

.modal-content h2 {
    margin-bottom: 10px;
}

.modal-content input.move_talk {
    margin: 30px 0;
}

/* 閉じるボタン */
.close {
    position: absolute;
    top: 0;
    right: 0;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal_button_container {
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
}

.modal_button_container input:hover {
    opacity: 0.4;
}

.edit_before_button {
    margin: 10px 0;
    display: inline-block;
    width: 200px;
}

.delete_before_button {
    margin: 10px 0;
    display: inline-block;
    width: 40%;
}

.edit_before_button button {
    background: rgb(3, 200, 96);
    border-radius: 5px;
    margin: 0;
}

.delete_before_button button {
    background: rgb(3, 200, 96);
    border-radius: 5px;
    margin: 0;
}

input.no {
    background-color: tomato;
    padding: 10px;
    font-weight: bold;
    border-radius: 25px;
}

input.no:hover {
    opacity: 0.4;
}

input.yes[type="submit"] {
    background-color: skyblue;
    padding: 10px 20px;
    margin-right: 20px;
}

.add_before_button button {
    background: rgb(3, 200, 96);
}

input.edit_group {
    background-color: rgb(3, 200, 96);
    border-radius: 25px;
    padding: 10px 20px;
}

.add_after input[type="submit"] {
    margin-top: 10px;
}

input.delete_group {
    background-color: rgb(3, 200, 96);
    border-radius: 25px;
    padding: 10px 20px;
}
