html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #FFDEE9; */
    background-color: #FFDEE9;
    background-image: linear-gradient(270deg, #FFDEE9 0%, #B5FFFC 100%);
    background-repeat: repeat;
    background-size: contain;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    line-height: 2rem;
    font-size: 18px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
}

ul {
    list-style: none;
    margin: 0;
}

a {
    color: #333;
    text-decoration: none;
}

p {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #b2ffb2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 100;
    padding: 0 20px;
}

.service_title{
    font-size: 30px;
    font-weight: bold;
}

a {
    display: inline-block;
}

i.fa-sign-out-alt {
    display: inline-block;
    font-size: 40px;
    font-weight: 600;
    margin-top: 5px;
    color: #333;
}

i {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
    color: #333;
}

button.logout {
    border: none;
    background: transparent;
    margin: 0;
}

button.logout:hover {
    opacity: .4;
}
