html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(10deg, #66BBFF  0%,#DDFFFF 50%,#DDFFFF  51%,#66BBFF  100%);
    background-attachment:fixed;
    background-size: contain;
    font-family: 'route_font', sans-serif;
    font-family: 'Kiwi Maru', serif;
    font-weight: bold;
    margin: 0;
    line-height: 2rem;
    font-size: 18px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input {
    font-size: 18px;
    font-family: 'Kiwi Maru', serif;
    font-weight: bold;
}

button {
    font-family: 'Kiwi Maru', serif;
    font-weight: bold;
}

ul {
    list-style: none;
    margin: 0;
}

a {
    color: #333;
    text-decoration: none;
}

p {
    margin: 0;
}

.bold {
    font-weight: bold;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(3,200,96);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    /* z-index: 10; */
    padding: 0 20px;
    box-shadow:0px 5px 5px rgb(3,170,100);
}

.service_title{
    font-size: 30px;
    font-weight: bold;
}

a {
    display: inline-block;
}

i.fa-sign-out-alt {
    display: inline-block;
    font-size: 40px;
    font-weight: 600;
    margin-top: 5px;
    color: #333;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

i {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
    color: #333;
}

button.logout {
    border: none;
    background: transparent;
    margin: 0;
}

button.logout:hover {
    opacity: .4;
}

.header_right{
    margin-right:60px;
}
/*ロゴ*/
#logo{
    width:200px;
    height:200px;
    margin-left:100px;
    margin-top:20px;
}
