main{
    display:flex;
    justify-content: space-around;
    margin: 140px 20px 30px;
}
body{
        background-color: white;
    }
/*自分のプロフィールについて*/
.my_profile{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.my_profile #image{
    width: 100%;
    max-width: 300px;
    border-radius: 50%;
}
.my_editable_profile{
    text-align: center;
    margin-bottom: 10px;
}
.my_editable_profile input{
    width: 300px;
    padding: 10px;
}

.my_editable_profile input[type="submit"] {
    background-color: #b2ffb2;
    margin-top: 20px;
}

.my_editable_profile input.submit{
    background: #b2ffb2;
    margin: 10px;
}

.my_editable_profile input:focus{
    background: #fff;
}
.my_editable_profile input[type="url"] {
    background: #fff;
    margin-left: 5px;
}
.my_editable_profile input[type="text"] {
    border: none;
}
.my_editable_profile #name{
    font-size: xx-large;
    text-align: center;
    background-color: transparent;
}

.my_editable_profile #birthday{
    text-align: center;
}

.description_container {
    display: inline-block;
    position: relative;
    margin: 50px auto 0;
    /* padding: 15px; */
    background: #fff;
    border-radius: 30px;
}
.my_editable_profile #url{
    text-align: center;
    /* background-color: transparent; */
}


.description_container::before{
    content: "";
    position: absolute;
    left: 100px;
    width: 10px;
    height: 10px;
    top: -40px;
    background: #fff;
    border-radius: 50%;
}

.description_container::after {
    content: "";
    position: absolute;
    left: 100px;
    width: 20px;
    height: 20px;
    top: -25px;
    background: #fff;
    border-radius: 50%;
}

input[type="text"]#description {
    border: none;
    border-radius: 25px;
    text-align: center;
}


::placeholder{
    color:black;
}

/*友達のプロフィールについて*/
.friends_list {
    padding: 30px;
    overflow-y: scroll;
    text-overflow: ellipsis;
    height: 400px;
}

.friends_list details {
    border: 2px solid #9fa09e;
    border-radius: 25px;
    margin-bottom: 10px;
    padding: 10px;
}

.friends_list details img {
    margin-top: 10px;
}

.search_friends input[type="text"] {
    border: 1px solid #9fa09e;
    width: 50%;
}

.fa-comments {
    font-size: 30px;
}


.friends_profile {
    width: 50%;
    height: auto;
    max-width: 600px;
    background-color: #fff;
    border-radius: 25px;
}

.friends_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #9fa09e;
}

.friends_profile > div {
    padding: 20px;
}

.fa-comment-medical {
    font-size: 30px;
}

.friends_profile #image{
    width:100%;
    max-width: 50px;
    border-radius: 50%;
    background-color: white;;
}
.friends_profile #name{
    /* font-size: xx-large; */
    width:100px;
    margin-left: 30px;
    width: 120px;
}

.friends_profile #talk{
    width:100px;
    margin-left: 30px;
}

summary{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*form要素の部品のダサさを消す*/
 input{
    border:none;
}

/* button{
    border:none;
    width:30px;
    height:30px;
    border-radius: 50%;
} */


/*スライド用のCSS未適応版スクショを撮るときに必要なCSSですので残して！！！！！！！！！
 .my_profile #image{
    width:500px;
    height:500px;
}
.friends_profile #image{
    width:200px;
    height:200px;
}

main{
    display:flex;
    justify-content: center;
    box-sizing: border-box;
}

button{
    width:30px;
}

button.create_talk {
    background: transparent;
}*/

.addBtn {
    width: 130px;
}
/* モーダルウィンドウ */
.modal {
    display: none;
    /* 最初は非表示にする */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    /* 背景を半透明にする */
}
/* <<<<<<< HEAD
.overlay {
display: none;
}
#pop-up:checked + .overlay {
display: block;
z-index: 9999;
background-color: #00000070;
position: fixed;
width: 100%;
height: 100vh;
top: 0;
left: 0;
}
.window {
width: 90vw;
max-width: 380px;
height: 240px;
background-color: #ffffff;
border-radius: 6px;
display: flex;
justify-content: center;
align-items: center;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.window input[type="text"] {
    margin-bottom: 10px;
}

.window input[type="submit"] {

}

.close {
cursor:pointer;
position: absolute;
top: 10px;
right: 20px;
font-size: 20px;
=======


.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


.close {
    position: absolute;
    top: 0;
    right: 0;
    color: #aaa;
    float: right; */
    /* font-size: 28px;
    font-weight: bold;
>>>>>>> origin/main
} */

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

