main{
    display:flex;
}
body{
        background-color: white;
    }
/*自分のプロフィールについて*/
.my_profile{
    margin-left: 50px;
    width: 50%;
    height: 100%;
}
.my_profile #image{
    width:50%;
    border-radius: 50%;
    background-color: white;;
}
.my_editable_profile{
    margin-left: 100px;
    text-align: center;
}
.my_editable_profile input{
    width: 300px;
    height: 30px;
}
.my_editable_profile #name{
    font-size: xx-large;
    text-align: center;

}
.my_editable_profile #birthday{
    text-align: center;

}
.my_editable_profile #description{
    text-align: center;

}

::placeholder{
    color:black;
}
/*友達のプロフィールについて*/
.friends_profile{
    width: 50%;
}
.friends_profile form{
    margin-bottom: 10px;
}
.friends_profile #image{
    width:200px;
    height:200px;
    border-radius: 50%;
    background-color: white;;
}
.friends_profile #name{
    font-size: x-large;
    width:100px;
    margin:30px;
    margin-top: 100px;;

}
.friends_profile #talk{
    width:100px;
    margin:30px;
    margin-top: 100px;
}

summary{
    display: flex;
    justify-content: center;
}

/*form要素の部品のダサさを消す*/
input{
    border:none;
}
button{
    border:none;
}
