h1.talkroom_title {
    font-size: 24px;
    text-align: center;
    border-top: 2px solid #a0d8ef;
    border-bottom: 2px solid #a0d8ef;
    padding: 10px;
    margin: 0;
    background-color: #fff;
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    z-index: 100;
}

.back {
    float: left;
    margin-left: 20px;
}

.container {
    padding: 50px;
    height: auto;
    margin-bottom: 80px;
}

.message_container {
    margin: 20px 10px;
}

.message_container img {
    width: 100px;
    height: 100px;
}

.text_container p {
    position: relative;
    margin: 20px;
    padding: 15px;
    background: #a0d8ef;
    border-radius: 30px;
    display: inline-block;
}

/* .text_left_container */
.text_left_container {
    display: flex;
    justify-content: left;
}

.text_left_container p:before {
    content: "";
    position: absolute;
    left: -10px;
    width: 13px;
    height: 12px;
    top: 0;
    background: #fff0c6;
    border-radius: 50%;
}

.text_left_container p:before {
    content: "";
    position: absolute;
    left: -10px;
    width: 13px;
    height: 12px;
    top: 0;
    background: #a0d8ef;
    border-radius: 50%;
}

/* .text_right_container */
.text_right_container {
    display: flex;
    justify-content: right;
}

.text_right_container p {
    background-color: #fff9b1;
}

.text_right_container p:after {
    content: "";
    position: absolute;
    right: -10px;
    width: 13px;
    height: 12px;
    top: 3px;
    background: #fff0c6;
    border-radius: 50%;
}

.send_message_container {
    background-color: transparent;
    position: fixed;
    bottom: 80px;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}

form.send_message {
    /* text-align: center;
    position: fixed;
    bottom: 80px; */
    margin: 0 auto;
}

input[type="text"] {
    width: 50%;
    max-width: 350px;
    padding: 5px;
}

input[type="submit"] {
    padding: 10px;
    margin-left: 10px;
    background-color: #b2ffb2;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

input[type="submit"]:hover {
    opacity: 0.6;
}
