.message_list_container {
    width: 70%;
    margin: 140px auto 50px;
    text-align: center;
    background-color: #fff;
    border-radius: 25px;
    border: 2px solid #9fa09e;
    padding: 10px;
}

.list_title_container {
    border-bottom: 3px solid #9fa09e;
}

.list_title_container > form {
    padding-bottom: 30px;
}

.list_title {
    text-align: center;
    margin: 0;
    padding: 30px;
}

.list_contents_container{
    padding: 30px;
    overflow-y: scroll;
    text-overflow: ellipsis;
    height: 300px;
 }

 .list_contents_container::-webkit-scrollbar{
    width: 10px;
 }

 .list_contents_container::-webkit-scrollbar-track{
    background-color: #ccc;
    border-radius: 25px;
 }

 .list_contents_container::-webkit-scrollbar-thumb{
    background-color: rgb(3,200,96);
    border-radius: 25px;
 }


.message_list_container button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 10px auto;
    border: 2px solid #9fa09e;
    padding: 10px;
}

.message_list_container button:hover {
    background: #9fa09e;
    transition: .4s;
}


 button h2 {
    margin-right: 20px;
    width: 200px;
}

button p {
    width: 60%;
}

