body {
    /* background-image: linear-gradient(270deg, #FFDEE9 0%, #B5FFFC 100%); */
    background-color: yellow;
}

a {
    color: #333;
    text-decoration: none;
}

.welcome_container {
    text-align: center;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:yellow;
    width: 50%;
    padding: 30px;
    font-size: 24px;
}

.welcome_container a:hover {
    color: rgb(3,200,96);
}

.welcome_button_container {
    display: flex;
    justify-content: center;
    margin: 50px auto 30px;
}

.welcome_button_container > div {
    display: inline-block;
    margin: 0 30px;
    background-color: rgb(3,200,96);
    padding: 10px 20px;
    border-radius: 5px;
    border-bottom: 2px solid #333;
    position: relative;
    bottom: 0;
}

.welcome_button_container > div:hover {
    opacity: .4;
}

.welcome_button_container > div a:hover {
    opacity: .4;
    color: #333;
}

.welcome_button_container > div:active {
    border: 0;
    bottom: -2px;
}
